<div class="material-datatable">
  <table id="client-table" class="table table-no-bordered table-hover sical-data-table" data-placeholder="Buscar Medicos">
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>DNI</th>
      </tr>
    </thead>
    <tbody>
      <% doctors.each do |doctor| %>
        <tr>
          <td><%= doctor.names %></td>
          <td><%= doctor.lastname%></td>
          <td><%= doctor.dni %></td>
          <td>
            <%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, doctor_path(doctor), class: "btn btn-info btn-sm",data: { "toggle" => "tooltip" }, title: "Ver" %>
            <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_doctor_path(doctor),class: "btn btn-success btn-sm", data: { "toggle" => "tooltip" }, title: "Editar" %>
            <%= link_to  toggle_status_doctor_path(doctor), id: "doctor-lock-#{doctor.id}", class: "btn btn-danger btn-sm", data: { toggle: "tooltip" }, title: "#{doctor.tooltip_status}", method: :put, remote: true do %>
                  <% if doctor.active%>
                    <i class="fa fa-unlock" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-lock" aria-hidden="true"></i>
                  <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>